.aboutUs {
  padding: 20px 0;
  background-color: var(--color-secondary);
  color: white;
}

.aboutUsDescription {
  margin: 20px 0px;
  text-align: center;
}

.aboutUsList {
  padding-left: 30px;
  text-align: left;
}
