.contactItem {
  margin: 20px 0;
  overflow: hidden;
}
.contactSpan {
  display: flex;
  align-items: center;
}

.contactIcon {
  margin-right: 10px;
  color: var(--color-tertiary);
  height: 30px;
  width: 30px !important;
}

@media (min-width: 767px) {
  .contactIcon {
    height: 40px;
    width: 40px !important;
  }
}
