.header {
  height: 100vh;
  background-image: url('../images/headerImage.jpg');
  background-size: cover;
  background-position: center top;
}
.header::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.headerContainer {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 2;
}

.headerTitle {
  font-size: 3.5rem;
  margin: 20px;
}

.headerDescription {
  font-style: italic;
  margin-bottom: 30px;
}

.headerBtn {
  padding: 15px;
  background-color: transparent;
  font-size: 0.7rem;
  letter-spacing: 0.5px;
  border: 2px solid white;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.2s;
}

.headerBtn:hover {
  border-color: var(--color-tertiary);
  background-color: var(--color-tertiary);
  border-radius: 15px;
  cursor: pointer;
}
